<form action="index.html" autocomplete="off" #userAccount="ngForm" (ngSubmit)="onSubmit(userAccount.value)">
  <h3 class="title">Crea Tu Cuenta</h3>
          <div class="input-container">
            <h5>Nombre De Usuario</h5>
            <div class="none"></div>
            <input type="text" name="first_name" class="input" ngModel/>
            <label></label>
            <h5>Foto De Perfil </h5>
            <h5>Desde El Dispositivo</h5>
            <input type="file" name="img">
            <div class="none"></div>
            <h5>O Por Url</h5>
            <input type="text" name="middle_name" class="input" ngModel/>
            <label></label>
            <h5>Banner De Perfil</h5>
            <div class="none"></div>
            <input type="text" name="surname" class="input" ngModel/>
            <label></label>
            <h5>Biografia</h5>
            <div class="none"></div>
            <input type="text" name="last_name" class="input" ngModel/>
            <label></label>
            <input type="submit" value="Crear Cuenta" class="btn" routerLink="/SignUser"/>
          </div>
</form>